
.bg-img {

    // Aliases - мб поможет решить
    background: url('/storage/images/header-image.jpg');

    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(255,255,255,.5);
        z-index: 0;
        -webkit-backdrop-filter: blur(3px);
        backdrop-filter: blur(3px);
    }
}

.body-scroll {
    overflow-y: scroll;
    overflow-x: hidden;
    min-height: 100vh;
}

.text-nowrap {
    white-space: nowrap;
}

.content-on-page{
    min-height: 60vh;
}

.static-footer {
    background-color: $main-color;
    width: 100%;
}
