.search {

    background-color: white;
    height: 50px;
    width: min(100%, 550px);
    border-radius: $border-radius-xl;
    margin: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;

    &-input {
        height: 50px;
        width: calc(100% - 50px);
        border-radius: $border-radius-xl;
        border: none;
        outline: none;
        padding-left: 25px;
    }

    &-button {
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;

        &__icon {
            color: #919191;
            font-size: 1.2em;
            transition: all 0.15s;
        }

        &:hover &__icon {
            color: #252525;
        }

    }

    //&-list {
    //    z-index: 800;
    //    position: absolute;
    //    top: 50px;
    //    left: 0;
    //    background-color: white;
    //    width: 500px;
    //    border-bottom-left-radius: 25px;
    //    border-bottom-right-radius: 25px;
    //    display: none;
    //    padding: 0 10px 10px;
    //    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.11);
    //
    //    &:hover {
    //        display: block;
    //    }
    //
    //    &-item {
    //        height: 30px;
    //        border-radius: 8px;
    //        display: flex;
    //        align-items: center;
    //        justify-content: space-between;
    //        transition: all 0.15s;
    //        padding: 0 10px;
    //
    //        &:hover {
    //            background-color: #efefef;
    //        }
    //    }
    //}

    //&-input:focus ~ .search-list{
    //    display: block;
    //}
    //&-delete-history {
    //    color: $secondary;
    //    padding: 0 10px;
    //
    //    &:hover {
    //        color: #252525;
    //    }
    //
    //    &-one {
    //        color: $secondary;
    //        transition: all 0.15s;
    //        width: 20px;
    //        height: 20px;
    //        padding: 2px;
    //        display: flex;
    //        align-items: center;
    //        justify-content: center;
    //
    //        &:hover {
    //            color: #252525;
    //        }
    //    }
    //}

}
