.cart-card {
    border-radius: 15px;
    box-shadow: 0 0 10px $cart-card-box-shadow;
    transition: all ease-out $default-transition;
    background-color: #fff;
    min-height: 0;

    &:hover {
        box-shadow: 0 0 40px $cart-card-box-shadow;
    }
}

.cartList {
    transition: all linear $default-transition;
}

.productImgInCart {
    border-radius: 10px;
}

.openCartList {
    align-items: center;
    justify-content: center;
    transition: transform ease-out $default-transition;
    outline: none;
    border: none;
}

.div {
    &Minus, &Plus {
        transition: all ease-out $default-fast-transition;
        &:hover {
            background-color: $product-plus-minus-hover;
        }
    }
}

.input-qty {
    transition: all ease-out 0.12s;
    border: none;
    outline:none;
    text-align: center;
}
