.show-product-img {
    border-radius: $border-radius-l;
    padding: 2px;
}

.current-small-product-img {
    border: 2px solid $warning;
    padding: 0;
}

.gradient {
    position: absolute;
    background: linear-gradient(to top, $light, rgba(248, 249, 250, 0));

    &-parent {
        position: relative;
    }
}

.more:hover {
    color: $main-color;
    border-bottom: dashed 1px $main-color;
}

.products-in-catalog {
    margin-left: -15px;
    margin-right: -15px;
}

.product-page {

    &__info {
        position: relative;
    }

    &__aside {
        position: sticky;
        top: 40px;
    }

}
