@import url('./client/assets/cart.css');
@import url('./client/assets/product-card.css');
@import url('./client/assets/home-page.css');
@import url('./client/assets/cart-card.css');
@import url('client/assets/modal-window.css');


.body-scroll {
    overflow-y: scroll;
    min-height: 100vh;
}

.content-on-page{
    min-height: 60vh;
}
