.notification {
    border-radius: 6px;
    position: fixed;
    left: 40%;
    top: 75px;
    padding: 15px;
    z-index: 100;
    color: whitesmoke;
    opacity: 0;
    animation: blink 7s none;
}
.success {
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
    color: #155724;
}
.error {
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    color: #721c24;
}
@keyframes blink {
    0% {
        opacity: 100%;
    }
    70% {
        opacity: 100%;
    }
    100% {
        opacity: 0;
    }
}
