@import "bootstrap";

.colors{
    background-color: $blue-300;
}
.bg-img {
    background: url(http://localhost:8000/storage/images/products/ZdzpoRJY6FOMo6BgzsFBIc2N3AwuJ0TAPWE4WHmw.jpg);
}
.bg-img:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255,255,255,.5);
    z-index: 0;
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
}
