.search {
    position: relative;

}


.search-form {
    display: flex;
    position: relative;
    top: 0;
    left: 0;
    width: 500px;
    height: 50px;
    background: white;
    box-sizing: border-box;
    border-radius: 25px;
    padding: 5px;
    z-index: 990;
}

.search-input {
    position: absolute;
    top: 5px;
    left: 0;
    width: 460px;
    height: 42px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: block;
    font-size: 1em;
    border-radius: 25px;
    padding: 0 20px;
    //z-index: 950;
}

.search-form:has(.search-input:focus) {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

}

.search-form:has(.search-list:hover) {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

}

.search-icon {
    box-sizing: border-box;
    padding: 10px;
    width: 42px;
    height: 42px;
    position: absolute;
    top: 5px;
    right: 3px;
    border-radius: 50%;
    color: #919191;
    text-align: center;
    font-size: 1.2em;
    transition: all 0.15s;
}

.search-icon:hover {
    color: #252525;
}

.search-list {
    z-index: 800;
    position: absolute;
    top: 50px;
    left: 0;
    background-color: white;
    width: 500px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    display: none;
    padding: 0 10px 10px;
    box-shadow: 0 10px 10px #bbbbbb;
}

.search-input:focus ~ .search-list{
    display: block;
}

.search-list:hover {
    display: block;
}


.search-delete-history {
    color: $secondary;
    padding: 0 10px;
}

.search-delete-history:hover {
    color: #252525;
}

.search-list-item {
    height: 30px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.15s;
    padding: 0 10px;
}

.search-list-item:hover {
    background-color: #efefef;
}

.search-list-item-text {

}

.search-delete-history-one {
    color: $secondary;
    transition: all 0.15s;
    width: 20px;
    height: 20px;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-delete-history-one:hover {
    color: #252525;
}
