.cart-card {
    border-radius: 15px;
    box-shadow: 0 0 10px #ddd;
    transition: all ease-out .2s;
    background-color: #fff;
    min-height: 0;

}

.cartList {
    transition: all linear 0.2s;
}

.cart-card:hover {
    box-shadow: 0 0 40px #ddd;
}

.productImgInCart {
    border-radius: 10px;
}

.text-nowrap {
    white-space: nowrap;
}

.openCartList {
    align-items: center;
    justify-content: center;
    transition: transform ease-out .2s;
    outline: none;
    border: none;
}



.divMinus {
    transition: all ease-out 0.12s;
}

.divMinus:hover {
    background-color: #e8e8ec;
}

.divPlus {
    transition: all ease-out 0.12s;
}

.divPlus:hover {
    background-color: #e8e8ec;
}

.input-qty {
    transition: all ease-out 0.12s;
    border: none;
    outline:none;
    text-align: center;
}
