.show-product-img {
    border-radius: 15px;
}

.heart-far {
    transition: all linear 0.35s;
    -webkit-transition: all linear 0.35s;
    -moz-transition: all linear 0.35s;
    -o-transition: all linear 0.35s;
}

.heart-fas {
    transition: all linear 0.35s;
    -webkit-transition: all linear 0.35s;
    -moz-transition: all linear 0.35s;
    -o-transition: all linear 0.35s;

}
