.show-product-img {
    border-radius: 15px;
    padding: 2px;
}

.current-small-product-img {
    border: 2px solid #ffc107;
    padding: 0;
}

.gradient-parent {
    position: relative;
}

.gradient {
    position: absolute;
    /*background-color: #e70001;*/
    /*height: 100%;*/
    /*width: 100%;*/
    background: linear-gradient(to top, #f8f9fa, rgba(248, 249, 250, 0));
}

.more {

}
